<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 配置任务 -->
	<bean name="indexJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.fang.bbks.common.service.IndexJober"/>
		<property name="jobDataAsMap">
			<map>
				<entry key="timeout" value="0" />
			</map>
		</property>
	</bean>
	
	<!-- 配置触发器 -->
	<bean id="indexTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="indexJob" />
		<property name="startDelay" value="5" /><!-- 调度工厂实例化后，经过5秒开始执行调度 -->
		<property name="repeatInterval" value="3600000" /><!-- 每1h调度一次 -->
	</bean>
	
	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="indexTrigger" />
			</list>
		</property>
	</bean>
</beans>